@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Instructions of Use</h1>
</div>
<br /> <br />
<h4>
    ° Assign nominal and actual points <br />
    ° Once assigned, make use of the points IDs in the previous entries at the Calculate section <br />
    ° The current average of actual points is shown in the latest entry
</h4>
