@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />
<br />
<p>This is not the page you're looking for<br/></p>
<img src="https://i.kym-cdn.com/entries/icons/mobile/000/018/682/obi-wan.jpg">
